body{
    margin: 0px;
    padding: 0px;
    background-color: #CCC;
}
ul{
    background-color: #444;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
li{
    text-size-adjust: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
    display: inline-block;
}
a{
    text-decoration: none;
    color: #fff;
}
footer{
    background-color: #444;
    color: #fff;
    padding: 10px;
}
main{
    padding: 10px;
}
h1{
    text-size-adjust: 28px;
}
p{
    font-style: italic;
    text-size-adjust: 24px;
}
section{
    margin-left: 20px;
    margin: 0 0 0 20px;
}