#wrapper{
    width: 700px;
    height: 730px;
    border: 1px solid #000;
    align-items: center;
    padding: 10px 20px;
    background-color: #a6e1ec;
}
img{
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;
}
li{
    width: 595px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid #000;
}
span{
    color: #3f51b5;
}
ul{
    list-style-type: none;
}