* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: white;
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    gap: 2em;
}

body > * {
    background-color: lightskyblue;
    padding: 1em;
    border-radius: 0.3em;
}

header,
footer {
  flex: 1 1 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    color:rgb(158, 135, 221);
}


header a {
  text-decoration: none;
}

aside {
  flex: 1 1 25%;
}

aside ul {
  list-style-type: none;
}

aside ul li {
  text-decoration: none;
  padding-top: 1em;
}

a {
  text-decoration: none;
  padding: 0.5em;
}

@media (min-width: 400px) {
  main{
    flex-direction: column;
  }
}
