body{
  margin: 0;
  font-size: 20px;
  font-family: sans-serif;
  min-width: 970px;
  /*background-color: #fffbfb;*/
}
nav{
  background-color: #ccc0b1;
  height: 40px;
  
}
header{
  background-color: #ebebeb;
  display: flex;
  max-height: 75vh;

}
.half-pictures{
  width: 50%;
}
.first-p{
  text-align: center;
}
.first-p-align{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
#logo{
  height: 300px;

}
.button-alignment{
  display: flex;
  flex-direction: row;
  gap: 55px;
  align-items: center;
  justify-content: center;
}
.left-button{
  width: 200px;
  height: 50px;
  border:1px solid #cec1b1;
}
.right-button{
  background-color: #cec1b1;
  color: white;
  width: 200px;
  height: 50px;
  border: 1px solid #cec1b1;
  font-weight: bold;
  font-size: 0.75em;
}
.info-container{
  background-color: white;
}
.info-items{
  display: flex;

}
.text-right-align{
  text-align: end;
}
.info-img{
  width: 40%;
}
.info-first-div{
  display: flex;
  flex-direction: column;
  width: 27.5%;
  margin-right: 2.5%;
}
.info-second-div{
  display: flex;
  flex-direction: column;
  width: 27.5%;
  margin-left: 2.5%;
}
.info-h{
  text-align: center;
  margin-top: 5rem;
  color: #cec1b1;
  
}

#info-counter{
  width: 11rem;
  text-align: right;
  color: #cec1b1;
}
#color-change{
  color: #cec1b1;
}
#info-counter-right{
  width: 25rem;
  text-align: right;
  color: #cec1b1; 
}
.text-center{
  text-align: center;
}
.lorem-div{
  background-color: #ebebeb;
  margin: auto;
}
.lorem{
  width: 33%;
  margin-left: 2rem;
  text-align: center;
}
#lorem-drei{
  margin-top: 10rem;
  padding-bottom: 12rem;
  margin-bottom: 0px;
}
#lorem-eins{
  margin-top: 0px;
  padding-top: 10rem;
  padding-bottom: 5rem;
}
.two-img-two-p{
  display: flex;
  flex-wrap: wrap;
  
}
.half-split{
  width: 50%;
  height: 50%;
}
.half-split-p{
  width: 43%;
  margin: auto;
  text-align: center;
  
}
.logo_bottom{
  width: 100%;
}
#bg-picture{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 50%;
}
.first-picture-bg{
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: rgba(90,143,145,0.5);
  height: 29.4rem;
  flex-direction: column;
}
#bg-text{
  position: relative;
  z-index: 1;
  color: white;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
.button-center{
  width: 200px;
  height: 40px;
  background-color: #cec0b5;
  font-weight: bold;
  font-size: 0.75em;
  border: 0px;
  color: white;
}
.bg-img{
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 50%;
}
.second-img-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(143,146,146,0.5);
  height: 29.4rem;
  flex-direction: column;
}
#front-text{
  position: relative;
  z-index: 1;
  color: white;
  font-size: 1.50em;
}
#second-imige-text{
  color: white;
  margin-top: 0px;
  font-size: 1.20em;
}
.last-part{
  display: flex;
  max-height: 75vh;
  background-color: #fffbfb;
}
.last-p{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
#text-color-change{
  color: #cec1b1;
}
.last-button{
  width: 200px;
  height: 50px;
  background-color: #fffbfb;
  border: 1px solid #d6cabd;
  color: #cdc1b4;
  font-weight: bold;
  font-size: 0.75em;
}
